extends ../layout

block content
  a(href='/empleados/create' type='button' class='btn btn-primary btn-md' style='text-align:center') Registrar Empleado
  br
  br
  a(href='/rrhh' type='button' class='btn btn-secondary btn-md' style='text-align:center') Inicio 
  br
  br
  table.table.table-striped.table-hover  
    thead 
      tr 
        th(scope='col') #
        th(scope='col') Cedula
        th(scope='col') Nombre  
        th(scope='col') Apellido  
        th(scope='col') Cargo 
        th(scope='col') Departamento
        th(scope='col') Ingreso 
        th(scope='col') Status
        th(scope='col')
        th(scope='col') 
    tbody 
      each emple in emples 
        tr 
          td(scope='row')
            = emple.id   
          td= emple.cedula
          td= emple.nombre 
          td= emple.apellido 
          td= emple.cargo
          td= emple.departamento
          td= emple.ingreso 
          td= emple.status
          td
            a(href='empleados/' + emple.id + '/update') Editar 
          td 
            form.inline(method='post' action='empleados/' + emple.id + '/delete')
                input(type='hidden' name='id' value= emple.id)
                button.link-button.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn')
                    = 'Eliminar'



